<section class="schedules" data-controller="schedules">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3>Agenda</h3>
        <div class="calendar" data-schedules-target="calendar"></div>
      </div>
    </div>
  </div>
</section>