<section class="rooms">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12 col-md-6">
        <div class="card p-4 shadow">
          <h3>Editar sala <strong><%= @room.name %></strong></h3>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>